{% extends "::layout.html.twig" %}

{% block body %}

<div>
    <h2>{{ user.nickname }}</h2>
    <div>
        <img src="//{{ user.avatar }}">
    </div>
    <p>Возраст: {{ user.age }}</p>
    <p>Пол: {{ user.sex }}</p>
    <p>Вес: {{ user.weight }}</p>
    <p>Рост: {{ user.height }}</p>
    <p>Тип: {{ user.role }}</p>
    <p>О себе: {{ user.about_me }}</p>
    {% if user.role=="ROLE_SPONSOR" %}<p>Бюджет: {{ user.budget }}</p>{% endif %}
    <p>Временные рамки: {{ user.timerange }}</p>

</div>

    {% if is_granted('ROLE_USER') %}
        {% render "RithisLoginzaBundle:Sessions:removeSession" %}
    {% else %}
        {% render "RithisLoginzaBundle:Sessions:newSessions" %}
    {% endif %}

    {% if ok %}
        Данные сохранены!
    {% endif %}
    <form method="post" action="{{ path("profile_post_profile") }}">
        {{ form_widget(form) }}
        <p><input type="submit" value="Сохранить"></p>
    </form>
{% endblock %}
